<div class="form" [formGroup]="passwordForm">
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      autocomplete="off"
      formControlName="password"
    />
    <mat-hint>
      Password must be between 7 and 32 characters, and contain at least one
      number and special character
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Confirm Password"
      autocomplete="off"
      formControlName="confirmPassword"
      [errorStateMatcher]="confirmValidParentMatcher"
    />
    <mat-error>
      Password is invalid and confirm password does not match password
    </mat-error>
  </mat-form-field>
</div>
