:host {
  margin-top: 10%;
}
a {
  color: inherit;
}
.title {
  margin: 30px 0 50px 0;
}
.container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 180px;
  margin: 15px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.mat-card-header {
  justify-content: center;
}
.icon {
  padding: 2.5rem 0 1.5rem 0;
  font-size: 4rem;
  color: #21409a;
}
