<h1 class="title text-center">Spring Bank Internet Banking</h1>

<div class="container">
  <mat-card class="card">
    <a routerLink="/profile/account">
      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>account_balance</mat-icon></p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Tài khoản</mat-card-title>
      </mat-card-header>
    </a>
  </mat-card>

  <mat-card class="card">
    <a routerLink="/profile/transfer-money">
      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>cached</mat-icon></p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Chuyển tiền</mat-card-title>
      </mat-card-header>
    </a>
  </mat-card>

  <mat-card class="card">
    <a routerLink="/about">
      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>monetization_on</mat-icon></p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Tiết kiệm</mat-card-title>
      </mat-card-header>
    </a>
  </mat-card>

  <mat-card class="card">
    <a routerLink="/about">
      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>payment</mat-icon></p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Khóa thẻ</mat-card-title>
      </mat-card-header>
    </a>
  </mat-card>
</div>
