<mat-card>
  <mat-card-header>
    <mat-card-title>Thiết lập tài khoản</mat-card-title>
  </mat-card-header>

  <div [formGroup]="userCredentialsForm" class="form-wrapper">
    <app-password-form formControlName="password"></app-password-form>

    <mat-form-field>
      <mat-label>Quyền hạn</mat-label>
      <mat-select formControlName="clientRoles" multiple>
        <mat-option value="customer"> Customer </mat-option>
        <mat-option value="bank_operator"> Bank Operator </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button routerLink="/users">Hủy</button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!userCredentialsForm.valid"
        (click)="setCredentials()"
      >
        Cập nhật
      </button>
    </div>
  </div>
</mat-card>
