<div class="all-center">
  <mat-card class="form">
    <h1>Đăng ký</h1>

    <div class="error text-center" *ngIf="errorMessage">{{ errorMessage }}</div>

    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Email"
        autocomplete="off"
        [(ngModel)]="email"
        email
      />
      <mat-error>Sai định dạng Email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Mật khẩu"
        type="password"
        [(ngModel)]="password"
        (keyup.enter)="register()"
      />
      <mat-error>Xin vui lòng nhập mật khẩu</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      class="btn-login"
      color="primary"
      (click)="register()"
    >
      <span> Đăng ký</span>
    </button>

    <a class="text-center" routerLink="/login">Đã có tài khoản?</a>
  </mat-card>
</div>
