<mat-card>
  <mat-card-header>
    <mat-card-title>Cập nhật tài khoản</mat-card-title>
  </mat-card-header>

  <div [formGroup]="updateUserForm" style="margin: 20px 0 0 16px">
    <app-user-form formControlName="profile"></app-user-form>

    <button
      mat-raised-button
      routerLink="/users"
    >
      Hủy
    </button>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!updateUserForm.valid"
      (click)="updateUser()"
    >
      Cập nhật
    </button>
  </div>
</mat-card>
