<mat-card>
  <mat-card-header>
    <mat-card-title>Nạp tiền</mat-card-title>
  </mat-card-header>

  <div *ngIf="!isDone" [formGroup]="depositForm" class="form-wrapper">
    <div class="form">
      <mat-form-field>
        <mat-label>Chọn tài khoản</mat-label>
        <mat-select formControlName="account" (selectionChange)="getBalance()">
          <mat-option
            *ngFor="let account of accounts"
            [value]="account.account"
            >{{ account.account }}</mat-option
          >
        </mat-select>
        <mat-error>Vui lòng chọn tài khoản</mat-error>
      </mat-form-field>

      <div
        *ngIf="depositForm.controls.account.touched"
        style="margin-top: -1rem; margin-bottom: 1rem"
      >
        Số dư khả dụng: <b>{{ currentBalance | currency:"VND":"symbol":undefined:"vi-VN" }}</b>
      </div>

      <mat-form-field>
        <input
          matInput
          placeholder="Số tiền"
          autocomplete="off"
          formControlName="balance"
        />
        <mat-error>Vui lòng nhập số tiền nạp</mat-error>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-raised-button routerLink="/profile">Hủy</button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!depositForm.valid"
        (click)="depositMoney()"
      >
        Xác nhận
      </button>
    </div>
  </div>

  <div *ngIf="isDone" class="form-wrapper">
    <h1>Giao dịch thành công. Bạn có muốn thực hiện giao dịch khác?</h1>

    <div class="button-group">
      <button mat-raised-button routerLink="/profile">Không</button>

      <button mat-raised-button color="primary" (click)="resetValue()">
        Tiếp tục
      </button>
    </div>
  </div>
</mat-card>
