a {
  color: inherit;
}
.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 15px;
}
.title {
  margin: 50px 0 30px 0;
}
.card {
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.mat-card-header {
  justify-content: center;
}
.icon {
  padding: 3rem 0 2.5rem 0;
  font-size: 5rem;
  color: #21409a;
}

/* Carousel */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin: 15px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 660px) {
  .container {
    grid-template-columns: 1fr;
  }
}
