<div id="slider" class="swipe">
  <div class="swipe-wrap">
    <div>
      <img src="assets/img/banner1.png" />
    </div>

    <div>
      <img src="assets/img/banner2.png" />
    </div>

    <div>
      <img src="assets/img/banner3.png" />
    </div>
  </div>
</div>

<h1 class="title text-center">Các tính năng của ngân hàng số Spring Bank</h1>

<div class="container">
  <mat-card class="card">
    <a routerLink="/about">
      <mat-card-header>
        <mat-card-title>Ưu đãi, khuyến mãi</mat-card-title>
      </mat-card-header>

      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>card_giftcard</mat-icon></p>
        <p>Các chương trình khuyến mãi và ưu đãi</p>
      </mat-card-content>
    </a>
  </mat-card>

  <mat-card class="card">
    <a routerLink="/about">
      <mat-card-header>
        <mat-card-title>Tài khoản và tiết kiệm</mat-card-title>
      </mat-card-header>

      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>account_box</mat-icon></p>
        <p>Các gói tài khoản và hướng dẫn mở tài khoản</p>
      </mat-card-content>
    </a>
  </mat-card>

  <mat-card class="card">
    <a routerLink="/about">
      <mat-card-header>
        <mat-card-title>Cho vay cá nhân</mat-card-title>
      </mat-card-header>

      <mat-card-content class="text-center">
        <p class="icon"><mat-icon inline>payment</mat-icon></p>
        <p>Cho vay kinh doanh, tiêu dùng, mua ô tô, mua bất động sản</p>
      </mat-card-content>
    </a>
  </mat-card>
</div>
