:host {
  margin-top: 30px;
}
.item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 0.8rem;
}
.mat-icon {
  vertical-align: bottom;
}
