<div>
  <div class="box-title">
    <h3 style="margin: 0">Thông báo</h3>
    <a href="javascript:void(0)"
      ><mat-icon inline>done_all</mat-icon> Đã xem tất cả</a
    >
  </div>

  <div class="box-item">
    <a routerLink="/profile/notifications">
      Khuyến mãi cho chủ thẻ mới mở sau ngày 20/10
      <mat-icon inline color="primary">fiber_manual_record</mat-icon>
    </a>

    <div class="time">
      <span style="margin-right: 10px"
        ><mat-icon inline>date_range</mat-icon> 01/11/2020</span
      >
      <span><mat-icon inline>schedule</mat-icon> 10:00</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="box-item">
    <a routerLink="/profile/notifications">
      Bạn đã nhận được 500,000 VND từ Robin Huy
    </a>

    <div class="time">
      <span style="margin-right: 10px"
        ><mat-icon inline>date_range</mat-icon> 23/10/2020</span
      >
      <span><mat-icon inline>schedule</mat-icon> 15:23</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="box-item">
    <a routerLink="/profile/notifications">
      Chuyển khoản thành công 1,000,000 VND cho Trinh Minh Cuong
    </a>

    <div class="time">
      <span style="margin-right: 10px"
        ><mat-icon inline>date_range</mat-icon> 11/10/2020</span
      >
      <span><mat-icon inline>schedule</mat-icon> 11:11</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="box-item text-center">
    <a routerLink="/profile/notifications"> Xem tất cả thông báo </a>
  </div>
</div>
