<mat-card>
  <mat-card-header>
    <mat-card-title>New User</mat-card-title>
  </mat-card-header>

  <div [formGroup]="createUserForm" style="margin-left: 16px">
    <app-user-form formControlName="profile"></app-user-form>

    <app-password-form formControlName="password"></app-password-form>

    <button
      mat-raised-button
      routerLink="/users"
      style="margin-right: 10px"
    >
      Cancel
    </button>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!createUserForm.valid"
      (click)="createUser()"
    >
      Add new user
    </button>
  </div>
</mat-card>
