* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body ::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
body ::-webkit-scrollbar-thumb {
  background: #e4e9f2;
  cursor: pointer;
  border-radius: 0.15625rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center !important;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-right: 2rem;
}
.mat-form-field {
  margin-bottom: 1rem;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
router-outlet + * {
  display: block;
  -webkit-animation: fade 1s;
  animation: fade 1s;
}
