<mat-card>
  <mat-card-header>
    <mat-card-title>Chuyển tiền</mat-card-title>
  </mat-card-header>

  <div [formGroup]="transferForm" class="form-wrapper">
    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Tài khoản nguồn"
          autocomplete="off"
          formControlName="source"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Tài khoản thụ hưởng"
          autocomplete="off"
          formControlName="target"
        />
        <button
          mat-button
          *ngIf="transferForm.controls.target.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="transferForm.controls.target.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          >Quý khách vui lòng nhập/chọn tài khoản thụ hưởng VND</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ngân hàng thụ hưởng</mat-label>
        <mat-select formControlName="bankTarget">
          <mat-option value="agribank"
            >NNO&PT NONG THON VN (AGRIBANK)</mat-option
          >
          <mat-option value="bidv">DAU TU VA PHAT TRIEN VN (BIDV)</mat-option>
          <mat-option value="vietinbank"
            >CONG THUONG VN (VIETINBANK)</mat-option
          >
        </mat-select>
        <mat-error>Quý khách vui lòng chọn ngân hàng thụ hưởng</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Số tiền"
          autocomplete="off"
          formControlName="money"
        />
        <mat-error>Quý khách vui lòng nhập số tiền chuyển khoản</mat-error>
      </mat-form-field>

      <p>Phí giao dịch</p>
      <mat-radio-group formControlName="cost">
        <mat-radio-button value="1"> Người chuyển trả </mat-radio-button>
        <mat-radio-button value="2"> Người nhận trả </mat-radio-button>
      </mat-radio-group>
      <br />

      <mat-form-field>
        <mat-label>Nội dung</mat-label>
        <textarea matInput formControlName="note">Chuyển tiền</textarea>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-raised-button routerLink="/profile">Hủy</button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!transferForm.valid"
        (click)="transferMoney()"
      >
        Xác nhận
      </button>
    </div>
  </div>
</mat-card>
