a {
  color: #192038;
  vertical-align: middle;
}
a:hover {
  color: #21409a;
}
.header {
  padding: 0 1rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #192038;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}
.nav {
  display: flex;
  align-items: center;
}
.logo a {
  font-size: 1.2rem;
  margin-right: 2rem;
}
.menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.menu li a {
  padding: 0.5rem;
  text-decoration: none;
}
.menu li a.active {
  color: #21409a;
}
.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-avatar img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.user-name {
  margin-left: 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #192038;
}
.main {
  min-height: calc(100vh - 7.5rem);
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #21409a;
}
