a {
  color: #192038;
  vertical-align: middle;
}
a:hover {
  color: #21409a;
}
.header {
  padding: 0 1rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #192038;
}
.nav {
  display: flex;
  align-items: center;
}
.logo a {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 2rem;
}
.menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.menu li a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.menu li a.active {
  color: #21409a;
}
.right-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-avatar img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.user-name {
  margin-left: 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #192038;
}
.notifications {
  margin: 0 20px;
  cursor: pointer;
}
.main {
  background: #eee;
  min-height: calc(100vh - 7.5rem);
  padding: 30px 0;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #21409a;
}
